<!DOCTYPE html>
<html ng-app="xapp">
<head>
	<title>nw-clip</title>
	<script src="angular.min.js"></script>
	<script src="angular-highlightjs.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
	<script>
	var gui = require('nw.gui');
	var win = gui.Window.get();
	var tray = new gui.Tray({icon: 'paste.png' });
	var menu = new gui.Menu();
	//menu.append(new gui.MenuItem({ type: 'checkbox', label: 'show' }));
	//tray.menu = menu;
	ctl = (function(win) {
		var visible = true;
		
		return { 
			show: function() {
				win.show();
				win.setShowInTaskbar(true);
				visible = true;
			}, 
			hide: function() {
				win.hide();
				win.setShowInTaskbar(false);
				visible = false;
			},
			toggle: function() {
				visible ? this.hide(): this.show();
			}
		}
	})(win);
	win.on('close', function() {
		ctl.hide();
	});
	tray.on('click', function() {
		ctl.show();
	});
	ctl.hide()
	var option = {
		key : "Ctrl+B",
		active : function() {
			ctl.toggle()	
		},
	};
	var shortcut = new gui.Shortcut(option);
	gui.App.registerGlobalHotKey(shortcut);
	
	angular.module('xapp', ['hljs']).controller('clip', function($scope, $interval) {
		var clipboard = gui.Clipboard.get();
		var old;
		$scope.clips = [];
		$scope.copy = function(text) {
			clipboard.set(text, 'text');
		};
		$interval(function() {
			clip = clipboard.get('text');
			if(clip != old && clip != '') {
				$scope.clips.unshift({
					text: clip,
					ts: + new Date()
				});
			}
			old = clip;
		}, 500);
	});
		
	</script>
</head>
<body ng-controller="clip">
<h1>clipboard</h1>
<ul>
	<li ng-repeat="clip in clips track by $index" ng-click="copy(clip.text)">
		{{clip.ts | date:'yyyy-MM-dd HH:mm:ss'}}<br />
		<div hljs source="clip.text"></div>
	</li>
</ul>
</body>
</html>

