<!DOCTYPE html>
<html ng-app="xapp">
<head>
	<title>nw-clip</title>
	<script type="text/javascript" src="assets/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/codemirror/lib/codemirror.css">
	<link rel="stylesheet" type="text/css" href="assets/codemirror/theme/solarized.css"/>
	<script type="text/javascript" src="assets/codemirror/lib/codemirror.js"></script>
	<script type="text/javascript" src="assets/codemirror/addon/mode/loadmode.js"></script>
	<script type="text/javascript" src="assets/angular-ui-codemirror/ui-codemirror.js"></script>
	<script src="assets/angular-highlightjs.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
	<script>
	var gui = require('nw.gui');
	var win = gui.Window.get();
	var tray = new gui.Tray({icon: 'paste.png' });
	var menu = new gui.Menu();
	//menu.append(new gui.MenuItem({ type: 'checkbox', label: 'show' }));
	//tray.menu = menu;
	ctl = (function(win) {
		var visible = true;
		
		return { 
			show: function() {
				win.show();
				win.setShowInTaskbar(true);
				visible = true;
			}, 
			hide: function() {
				win.hide();
				win.setShowInTaskbar(false);
				visible = false;
			},
			toggle: function() {
				visible ? this.hide(): this.show();
			}
		}
	})(win);
	win.on('close', function() {
		ctl.hide();
	});
	tray.on('click', function() {
		ctl.show();
	});
	ctl.hide()
	var option = {
		key : "Ctrl+B",
		active : function() {
			ctl.toggle()	
		},
	};
	var shortcut = new gui.Shortcut(option);
	gui.App.registerGlobalHotKey(shortcut);
	CodeMirror.modeURL = "assets/codemirror/mode/%N/%N.js";
	angular.module('xapp', ['hljs', 'ui.codemirror']).controller('clip', function($scope, $interval) {
		var clipboard = gui.Clipboard.get();
		var old;
		$scope.clips = [];
		$scope.copy = function(text) {
			clipboard.set(text, 'text');
		};
		var map = {java: 'clike'};
		$interval(function() {
			clip = clipboard.get('text');
			if(clip != old && clip != '') {
				$scope.clips.unshift({
					option: {
						mode: map[hljs.highlightAuto(clip).language] || hljs.highlightAuto(clip).language,
						theme: 'solarized',
						lineNumbers: true,
						onLoad: function(_cm) {
							try {
								CodeMirror.autoLoadMode(_cm, this.mode);
							} catch(e) {
							}
						}
					},
					text: clip,
					ts: + new Date()
				});
			}
			old = clip;
		}, 500);
	});
		
	</script>
	
</head>
<body ng-controller="clip">
<h1>clipboard</h1>
<ul>
	<li ng-repeat="clip in clips track by $index" >
		{{clip.ts | date:'yyyy-MM-dd HH:mm:ss'}}<div style="color:blue;float:right;" ng-click="clip.edit=!clip.edit"><span ng-show="!clip.edit">edit</span><span ng-show="clip.edit" >view</span></div><br />
		{{clip.option}}
		<div ng-if="!clip.edit" style="cursor:copy" hljs source="clip.text" ng-click="copy(clip.text)"></div>
		<div ng-if="clip.edit" ui-codemirror="clip.option" ng-model="clip.text"></div>
	</li>
</ul>
</body>
</html>

